<div class="liste-frais-container">
  <h2>Liste des frais de déplacement</h2>

  <table>
    <thead>
      <tr>
        <th>Numéro Visiteur</th>
        <th>Date</th>
        <th>Type de Frais</th>
        <th>Kilomètres (si applicable)</th>
        <th>Montant (€)</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let frais of fraisList">
        <td>{{ frais.visiteur.login }}</td>
        <td>{{ frais.date }}</td>
        <td>{{ frais.typeFrais }}</td>
        <td *ngIf="frais.typeFrais === 'Kilométrage'">{{ frais.kilometres }}</td>
        <td *ngIf="frais.typeFrais !== 'Kilométrage'">-</td>
        <td>{{ frais.montant | number: '1.2-2' }} €</td>
        <td>{{ frais.description }}</td>
        <td>
          <button (click)="onEditFrais(frais)" class="edit-button">
            Modifier
          </button>
          <button 
            (click)="onDeleteFrais(frais)" 
            class="delete-button">
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
