<div class="welcome-container">
  <h1>Bienvenue dans le Portail de Frais</h1>
  <h3>Bonjour, {{ userName }}</h3>
  <p>Accédez rapidement à vos fonctionnalités.</p>
</div>

<div class="quick-access">
  <h4>Pour les Visiteurs Médicaux</h4>
  <button (click)="navigateToDashboard()">Tableau de Bord</button>
  <button (click)="navigateToFraisForm()">Nouvelle Fiche de Frais</button>
  <button (click)="navigateToFraisList()">Mes Fiches de Frais</button>
</div>

<div class="links">
  <h4>Actions Rapides</h4>
  <p><a routerLink="/support">Besoin d'aide ?</a></p>
</div>

<div class="logout-button">
  <button (click)="logout()">Se déconnecter</button>
</div>