.liste-frais-container {
    width: 80%;
    margin: 100px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .delete-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .delete-button:hover {
    background-color: #ff7875;
  }
  
  .delete-button:active {
    background-color: #ff4d4f;
    transform: scale(0.95);
  }
  
  .edit-button {
    background-color: #1890ff; /* Bleu doux */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease, transform 0.1s ease;
  }
  
  .edit-button:hover {
    background-color: #40a9ff;
  }
  
  .edit-button:active {
    background-color: #1890ff;
    transform: scale(0.95);
  }
  