<div class="login-container">
  <h2>Connexion</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="login">Nom d'utilisateur :</label>
      <input
        type="text"
        id="login"
        [(ngModel)]="login"
        name="login"
        required
        placeholder="Entrez votre identifiant"
      />
    </div>

    <div class="form-group">
      <label for="mdp">Mot de passe :</label>
      <input
        type="password"
        id="mdp"
        [(ngModel)]="mdp"
        name="mdp"
        required
        placeholder="Entrez votre mot de passe"
      />
    </div>

    <button type="submit" class="btn">Se connecter</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
