<nav class="navbar">
  <button class="toggle-btn" (click)="toggleNavbar()">
    {{ isCollapsed ? '☰' : '✖' }}
  </button>
  <ul class="menu-list" [ngClass]="{ 'collapsed': isCollapsed }">
    <li><a routerLink="/Accueil">Accueil</a></li>
    <li><a routerLink="/login">Se connecter</a></li>
    <li><a routerLink="/frais">Frais</a></li>
    <li><a routerLink="/liste-frais">Liste des frais</a></li>
    <li><a routerLink="/valide-frais">Validation des Fiches</a></li>
  </ul>
</nav>
<!-- Contenu principal -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>